* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  background: white;
}

.newsContainer {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.news {
  max-width: 300px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
a {
  color: black;
}
a:hover {
  color: gray;
}

.image {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.title {
  padding-bottom: 10px;
  text-decoration: underline;
  text-align: center;
}

.source {
  text-align: right;
}
